name: Deploy

on:
  workflow_dispatch:
    inputs:
      destroy:
        description: "Set true to destroy infrastructure"
        required: true
        default: "false"
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    # Environment enables manual approval (recommended)
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::288316011796:role/Aravind-github-actions
          aws-region: ap-south-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false

      # APPLY → only main + destroy=false
      - name: Terraform Apply
        if: github.ref_name == 'main' && inputs.destroy == false
        run: terraform apply -auto-approve -input=false

      # DESTROY → only main + destroy=true
      - name: Terraform Destroy
        if: github.ref_name == 'main' && inputs.destroy == true
        run: terraform destroy -auto-approve -input=false
